.trackInfo {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font: 14px/1 Helvetica, Arial, sans-serif;
    color: #fff;

    &__cover {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 10px;
    }

    &__main {
        flex: 1 1 auto;
    }

    &__mainArtist {
        margin: 0 0 5px;
    }

    &__mainTitle {
        font-weight: 700;
        text-decoration: none;
        color: #fff;

        &:hover {
            color: var(--theme-c);
        }
    }
}
