.IPInput {
    width: 100%;
}

.IPInput__inp {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font: 14px/1 Helvetica, Arial, sans-serif;
    color: #fff;
    background: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    outline: none;
}

.IPInput__inp:focus {
    border-color: #fc0;
}

.IPInput__btn {
    box-sizing: border-box;
    display: table;
    margin: 15px auto 0;
    padding: 10px;
    font: 14px/1 Helvetica, Arial, sans-serif;
    color: #000;
    background: var(--theme-c);
    border: none;
    cursor: pointer;
    outline: none;
}

.IPInput__btn:focus {
    background: #ffeb9a;
}

.IPInput__error {
    margin: 5px 0 0;
    font: 14px/1 Helvetica, Arial, sans-serif;
    color: #ff7b7b;
    text-align: center;
}
