:root {
    --theme-c: #ffdb4d;
}

html {
    padding: 0;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    background: #181818;
}

.wrapper {
    box-sizing: border-box;
    width: 300px;
    padding: 15px;
}
