.player {
    position: relative;
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
    }

    &__headerRole {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        color: #fff;
    }

    &__headerInfo {
        display: flex;
        align-items: center;
    }

    &__ctrls {
        display: flex;
        align-items: center;
    }

    &__ctrlsPlay,
    &__ctrlsVote,
    &__ctrlsLike {
        display: block;
        flex: 0 0 20px;
        height: 20px;
        padding: 0;
        color: #676767;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__ctrlsVote {
        margin-left: 20px;

        &._voted {
            color: #474747;
            cursor: default;
        }
    }

    &__ctrlsLike {
        margin-left: 20px;

        &._liked {
            color: var(--theme-c);
        }
    }

    &__ctrlsPlay:hover,
    &__ctrlsVote:not(._voted):hover,
    &__ctrlsLike:not(._liked):hover {
        color: #fff;
    }

    &__ctrlsPlayIcon,
    &__ctrlsVoteIcon {
        color: currentColor;
    }

    &__ctrlsLikeIcon {
        stroke: currentColor;
        fill: none;

        .player__ctrlsLike._liked & {
            fill: currentColor;
        }
    }

    &__logout {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        font: 14px/1 Helvetica, Arial, sans-serif;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__logoutIcon {
        color: #676767;

        .player__logout:hover & {
            color: var(--theme-c);
        }
    }

    &__logoutText {
        position: absolute;
        top: 50%;
        right: calc(100% + 10px);
        transform: translateY(-50%);
        max-width: 200px;
        font: 14px/1 Helvetica, Arial, sans-serif;
        color: #676767;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.1s linear;

        .player__logout:hover & {
            opacity: 1;
        }
    }
}

.peopleCount {
    display: flex;
    align-items: center;
    color: #fff;

    &__icon {
        display: block;
        flex: 0 0 15px;
        height: 15px;
        margin-right: 5px;
        color: #676767;
    }

    &__number {
        font: 14px/1 Helvetica, Arial, sans-serif;
        cursor: default;
    }
}

.votes {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #fff;

    &__icon {
        display: block;
        flex: 0 0 15px;
        height: 15px;
        color: var(--theme-c);
    }

    &__count {
        margin-left: 5px;
        font: 14px/1 Helvetica, Arial, sans-serif;
        cursor: default;
    }
}
